<!--The whole content below can be removed with the new code.-->
<div class="custom-class" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<app-navbar></app-navbar>
<!--<app-students></app-students> <br>-->
<!--<app-lecturer></app-lecturer> <br>-->
<!--<app-attendance></app-attendance>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_self" href="/lecturer">Lecturer</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_self" href="/attendance">Attendance List</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_self" href="/students">Students</a></h2>-->
  <!--</li>-->

<!--</ul>-->

