<div class="custom-class" style="text-align:center">
  <h1>
    {{"Attendance List"}}
  </h1>
</div>
<table class="table border-bottom-0 rounded" >
  <thead class="thead-default">
  <tr>
    <th>ID</th>
    <th>Class Name</th>
    <th>Date</th>
    <th>Lecturer</th>
    <th>Subject</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attendance of attendances">
    <th>{{attendance.id}}</th>
    <th>{{attendance.name}}</th>
    <th>{{attendance.localDateTime.dayOfMonth}} {{attendance.localDateTime.month.toLowerCase()}} {{attendance.localDateTime.hour}} </th>
    <th>{{attendance.lecturer.title}} {{attendance.lecturer.firstName}} {{attendance.lecturer.lastName}}</th>
    <th>{{attendance.subject.name}} {{attendance.subject.subjectType}}</th>
  </tr>
  </tbody>
</table>


